<!doctype html>
<html> <!--class="no-js" lang=""-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--<link rel="stylesheet" href="css/font-awesome.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <!--<script src="node_modules/angular/angular.min.js"></script>-->
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="lifely.js"></script>
</head>


<body id="bod" ng-app="lifely" ng-model="bodbg">

<!--&lt;!&ndash; Add your site or application content here &ndash;&gt;-->
<!--<nav class="navbar navbar-inverse">-->
    <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#">Legacy</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<div ng-controller="LifelyCtrl" class="container-fluid text-center">
    <!--{{period}}-->
    <div><img src="img/lifely-logo-horizontal.png" style="margin-top:20px"></div>
    <span><h4 style="color:white; font-weight:100; font-family:'Roboto', sans-serif; margin-bottom:25px">{{slogan}}</h4></span>
    <!--<div id="inputform" ng-controller="LifelyCtrl" class="md-inline-form">-->
        <!--<md-content md-theme="docs-dark" layout-gt-sm="row">-->
            <!--<div>-->
                <!--<md-input-container >-->
                    <!--<label>Age:</label>-->
                    <!--<input ng-model="formDate">-->
                <!--</md-input-container>-->
            <!--</div>-->
        <!--</md-content>-->
        <!--<button class="btn" ng-click="submitDate()">Contemplate Life</button>-->
    <!--</div>-->
    <form ng-submit="submitDate()" class="form-vertical">
        <span>
            <!--<label style="color:white; font-weight:normal; font-family:'Roboto', sans-serif">How old are you?</label>-->
            <input class="inputbox" placeholder="Enter your age" type="number" ng-model="formDate" >
            <button class="inputbtn" ng-click="submitDate()">Contemplate Life</button>
        </span>

    </form>
    <!--<h2>{{date}}</h2>-->
    <div>
        <span><h3 style="color:white; font-weight:100; font-family:'Roboto', sans-serif">{{textabovegrid}}</h3></span>
        <!--<button class="btn" ng-click="changePeriod(1)">years</button>-->
        <!--<button class="btn" ng-click="changePeriod(12)">months</button>-->
    </div>
    <img src="img/Birth.png" style="position:absolute; right: 57.75%">
    <div class="center" style="margin-top:23px; margin-right:1.5%">
        <table id="lifeGrid" align="center">
            <tr ng-repeat="r in rowArray">
                <td ng-repeat="c in colArray">
                    <div class="diamond"></div>
                </td>
            </tr>
        </table>

    </div>
    <img src="img/Ninety.png" style="padding-bottom:25px; position:absolute; right: 38.55%">
    <div style="margin-top: 1.5%">

        <button class="screenbtn" ng-click="changeScreen(0)">Your life</button>
        <button class="screenbtn" ng-click="changeScreen(1)">Life of a Typical American</button>
        <button class="screenbtn" ng-click="changeScreen(2)">Average age of...</button>
    </div>

    <div id="factbox" class="factbox" ng-model="fact" ng-hide="ageEntered === 0">
        <h1 style="color:white"><i class="fa fa-user" aria-hidden="true"></i></h1>
        <div style="font-weight:200; font-size: 90%; margin-bottom:20px">{{occurred}}</div>
        <h1 style="color:white"><i class="fa fa-history" aria-hidden="true"></i></h1>
        <div style="font-weight:200; font-size: 90%">{{fact}}</div>
        <h1 style="color:white"><i class="fa fa-dollar" aria-hidden="true"></i></h1>
        <div style="font-weight:200; font-size: 90%; margin-top:20px">{{compounded}}</div>
    </div>

    <div id="legend" class="legend" ng-model="legend">
        <img id="legendpic" src="">
    </div>
</div>


<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
<script src="js/plugins.js"></script>


</body>
</html>
